*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: aqua;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    height: 50vh;
    width: 50vw;
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
}
